*.db
whoosh_index
*.log

node_modules/
env/
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.python-version

public/
docs/
build/
coverage
*.egg-info

*.md
