sudo:
  false

addons:
  postgresql: '9.4'
  sauce_connect: true

language:
  python

python:
  - 3.7

services:
  - postgresql
  - redis-server

env:
  global:
    - TESTING=True
    - BASE_URL=http://localhost:5000
    - TEST_DATABASE_URL=postgres://postgres@localhost:5432/goodtables_test
    - BROKER_URL=redis://localhost:6379/10
    - RESULT_BACKEND=redis://localhost:6379/11
    - FLASK_SECRET_KEY=test-key
    - "GTIO_SECRET_KEY=g2PKWio2rEmNiM1X8mpgCt40wunLJti0SMOT-MfIYjU="
    - GITHUB_HOOK_SECRET=test-github-hook-secret
    - GITHUB_CLIENT_ID=test-github-client-id
    - GITHUB_CLIENT_SECRET=test-github-client-secret
    - S3_GT_ACCESS_KEY_ID=test
    - S3_GT_SECRET_ACCESS_KEY=test
    - S3_GT_AWS_REGION=test
    - S3_GT_ACCOUNT_ID=test
    - S3_LAMBDA_ARN=test
    - S3_LAMBDA_HOOK_SECRET=test

before_install:
  - nvm install 8
  - nvm use 8

install:
  - make install
  - make install-dev
  - psql -c 'create database goodtables_test;' -U postgres
  - make migrate
  - make frontend

script:
  - make test
  # TODO: recover
  # - make docs

after_success:
  - pip install coveralls
  - coveralls

cache:
  directories:
    - $HOME/.cache/pip
