sudo:
  false

language:
  python

python:
  - 3.5

services:
  - postgresql
  - redis-server

addons:
  postgresql: '9.5'

env:
  global:
    - DATABASE_URL=postgres://postgres@localhost:5432/goodtables
    - BROKER_URL=redis://localhost:6379/10
    - RESULT_BACKEND=redis://localhost:6379/11

install:
  - make install
  - pip install coveralls
  - psql -c 'create database goodtables;' -U postgres -h localhost

script:
  - make test

after_success:
  - coveralls

deploy:
  provider: deis
  controller: deis.oklabs.org
  app: goodtables
  # on:
    # branch: master
  username: ekarev
  password:
    secure: YZDt5MrYCoHjhAlHI4uCqoY4bi4Jw/qoh0PdYT1RQS9pJGGCs1K1EIESCRBkqGzECx450fLGUzIpnJkcwRo/AIkvQl/OimUrBDRXTzyNk29lrXOcphN41PMkeUdBzXmwB5wP12ugOSlzIebNGgyyDRWBGMbc9xsu78TxcqaFun3sgaGemHCWUFoAWFdBhIA2OCv0eHBNUMzugd0Z2Faktj5IbxVIAID1m6c2jgjwHH9z6a6wdrP8YSVpg1vDLkzqKi/9lE+DG3q1AhHjEcdRImO+PlcglfjxspLzSGQ8QbQ+uDypNmI+0j6O+bYxcQJVL0yXRcvCFHSWYw6Bw/+TJ0UMY8e6Ifw8cknyqTqkvmqZfdhKF8+8uVOEYiKG/B6bjMjGTuVFQ7BAKYx6ulXfhBAyfhRNgMD3bGvRAvU3q8J9Fs8TI3ER3ndFN1h/yTPot5Y6Mf3ih9pDt9ut7MVc4F2XJ8hMdCT0pCWmOe7ugJZD1CqZbj0BinAcdGSpNE2LpgUX3PAg5bARuL2ds4v9J2oIrp+C7UX1est7C+Wqep5z6irNAnj462sDKx8qzlLwOYSMcPtI0XglRJuSlXzhMUQFugrhxIIwZplp/gkN4+nsmNaRfHVy3tC7rdNRLZuZjHBLXC3arXdOPydoRyGP1A0M2hNWmkkZTJVzf69MFfc=
