sudo:
  false

addons:
  postgresql: '9.4'

language:
  python

python:
  - 3.5

services:
  - postgresql
  - redis-server

env:
  global:
    - TESTING=True
    - BASE_URL=http://localhost:5000
    - TEST_DATABASE_URL=postgres://postgres@localhost:5432/goodtables_test
    - BROKER_URL=redis://localhost:6379/10
    - RESULT_BACKEND=redis://localhost:6379/11
    - FLASK_SECRET_KEY=test-key
    - GITHUB_HOOK_SECRET=test-github-hook-secret
    - GITHUB_CLIENT_ID=test-github-client-id
    - GITHUB_CLIENT_SECRET=test-github-client-secret
    - S3_GT_ACCESS_KEY_ID=test
    - S3_GT_SECRET_ACCESS_KEY=test
    - S3_GT_AWS_REGION=test
    - S3_GT_ACCOUNT_ID=test
    - S3_LAMBDA_ARN=test
    - S3_LAMBDA_HOOK_SECRET=test

before_install:
  - nvm install 6
  - nvm use 6

install:
  - npm run init
  - psql -c 'create database goodtables_test;' -U postgres
  - npm run migrate

script:
  - npm run build:dev
  - npm run test

after_success:
  - pip install coveralls
  - coveralls

cache:
  directories:
    - $HOME/.cache/pip
