alembic==0.8.9
boto3==1.9.0
celery==4.0.0
cryptography==2.2.2
flask==0.11.1
flask-cors==3.0.2
flask-login==0.4.0
flask-oauthlib==0.9.3
flower==0.9.1
github3.py==0.9.6
goodtables[ods]==2.4.0
gunicorn==19.6.0
jsonschema==2.5.1
psycopg2
python-dotenv==0.6.0
pyyaml==4.2b1
raven[flask]==6.0.0
redis==2.10.5
requests==2.11.1
sqlalchemy==1.1.4
tabulator[ods]==1.29.0
