$parts-selector-list-border-width: 1px;
$parts-selector-list-bg-colour: $body-bg;
$parts-selector-list-border-colour: $input-border;
$parts-selector-list-border-radius: $border-radius-large;
$parts-selector-list-max-height: auto;
$parts-selector-break-point: $screen-md;
$parts-selector-v-space: $grid-gutter-width*0.5;
$parts-selector-h-space: $grid-gutter-width*0.6;
$parts-selector-list-margin: 0;
$parts-selector-list-item-text-colour: inherit;
$parts-selector-list-heading-text-colour: $gray-dark;
$parts-selector-selected-bg-colour: $brand-info;
$parts-selector-selected-text-colour: $body-bg;
$parts-selector-success-bg-colour: $brand-success;
$parts-selector-success-text-colour: $body-bg;
$parts-selector-info-bg-colour: $brand-primary;
$parts-selector-info-text-colour: $body-bg;
$parts-selector-error-bg-colour: $brand-danger;
$parts-selector-error-text-colour: $body-bg;
$parts-selector-control-icon-colour: $input-border;
$parts-selector-control-icon-ready-colour: $gray-dark;
$parts-selector-inline-icon-colour: $gray-dark;
