{% extends "layout.html" %}

{% block contents %}
<div class="container">

  <h1>Amazon S3</h1>

  <p>Amazon S3 integration description</p>

  <h2>Buckets</h2>
    {% if buckets %}
    <ul>
        {% for bucket in buckets %}
            <li>{{ bucket.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
        No buckets configured
    {% endif %}
  <hr/>

  <h2>Add Bucket</h2>


  <form action="/s3/settings/add_bucket" method="POST" >
    <div class="form-group">
      <label for="access-key-id">Access Key Id</label>
      <input type="text" class="form-control" id="access-key-id" name="access-key-id"/>
    </div>
    <div class="form-group">
      <label for="secret-access-key">Secret Access Key</label>
      <input type="text" class="form-control" id="secret-access-key" name="secret-access-key" />
    </div>
    <div class="form-group">
      <label for="secret-access-key">Bucket Name</label>
      <input type="text" class="form-control" id="bucket-name" name="bucket-name" />
    </div>
	<button type="submit" class="btn btn-default">Submit</button>
  </form>


</div>
{% endblock %}
