{% extends "layout.html" %}

{% import 'macros/jobs_list.html' as jobs_list %}

{% block contents %}
<div class="container">
  <h1>Dashboard</h1>

  <h2>Jobs</h2>

  <h3>GitHub</h3>

   <div style="margin-bottom: 30px" class="row">
      <div style="float: right">
          <a href="/github/settings" class="btn btn-primary" style="width:120px;">Add repository</a>
      </div>
    </div>

    {% if github_jobs %}
      {{ jobs_list.jobs_list(github_jobs) }}

      <div style="margin-top: 20px"><a href="/github">Show more</a></div>
    {% else %}
      <p>No active or finished jobs.</p>
    {% endif %}

  <hr />
  <h3>Amazon S3</h3>

   <div style="margin-bottom: 30px" class="row">
      <div style="float: right">
          <a href="/s3/settings" class="btn btn-primary" style="width:120px;">Add bucket</a>
      </div>
    </div>

    {% if s3_jobs %}
      {{ jobs_list.jobs_list(s3_jobs) }}

      <div><a href="/s3">Show more</a></div>
    {% else %}
      <p>No active or finished jobs.</p>
    {% endif %}

</div>
{% endblock %}
