{% extends "layout.html" %}

{% block contents %}
<div class="container">
  <h1>Job</h1>

  <h2>Overview</h2>

  {% set color = 'yellow' %}
  {% if job.result.report.valid %}
  {% set color = 'green' %}
  {% else %}
  {% set color = 'red' %}
  {% endif %}

  <table class="table table-bordered">
    <thead style="background-color: {{ color }}; color: #fff;">
      <tr>
        <td>Job Id</td>
        <td>Status</td>
        <td>Created</td>
        <td>Finished</td>
      </tr>
    </thead>
    <thead>
      <tr>
        <td>{{ job.result.job_id }}</td>
        <td>{{ job.status }}</td>
        <td>{{ job.result.created }}</td>
        <td>{{ job.result.finished }}</td>
      </tr>
    </thead>
  </table>

  {% if job.result.report %}

    <hr>

    <h2>Dataset</h2>

    <table class="table table-bordered">
      <thead style="background-color: {{ color }}; color: #fff;">
        <tr>
          <td>Valid</td>
          <td>Errors</td>
          <td>Tables</td>
          <td>Time</td>
        </tr>
      </thead>
      <thead>
        <tr>
          <td>{{ job.result.report.valid }}</td>
          <td>{{ job.result.report['error-count'] }}</td>
          <td>{{ job.result.report['table-count'] }}</td>
          <td>{{ job.result.report.time }}</td>
        </tr>
      </thead>
    </table>

    {% for table in job.result.report.tables %}

      {% set color = 'yellow' %}
      {% if job.result.report.tables[loop.index0].valid %}
      {% set color = 'green' %}
      {% else %}
      {% set color = 'red' %}
      {% endif %}

      <hr>

      <h2>Table-{{ loop.index }}</h2>
      <table class="table table-bordered">
        <thead style="background-color: {{ color }}; color: #fff;">
          <tr>
            <td>Valid</td>
            <td>Errors</td>
            <td>Rows</td>
            <td>Time</td>
          </tr>
        </thead>
        <thead>
          <tr>
            <td>{{ table.valid }}</td>
            <td>{{ table['error-count'] }}</td>
            <td>{{ table['row-count'] }}</td>
            <td>{{ table.time }}</td>
          </tr>
        </thead>
      </table>

      {% if table.errors %}

        <h3>Errors</h3>

        {% for error in table.errors %}
        <table class="table table-bordered">
          <thead style="background-color: {{ color }}; color: #fff;">
            <tr>
              <td>Row</td>
              <td>Column</td>
              <td>Code</td>
              <td>Message</td>
            </tr>
          </thead>
          <thead>
            <tr>
              <td>{{ error['row-number'] or '-' }}</td>
              <td>{{ error['column-number'] }}</td>
              <td>{{ error.code }}</td>
              <td>{{ error.message }}</td>
            </tr>
          </thead>
        </table>
        {% endfor %}

      {% endif %}

    {% endfor %}

  {% endif %}

</div>
{% endblock %}
