{% extends "layout.html" %}

{% block contents %}
<div class="container">

  <div id="app"></div>

  {% if job.report %}
    <script src="//unpkg.com/whatwg-fetch@2.0.2/fetch.js"></script>
    <script src="//unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="//unpkg.com/goodtables-vue/dist/goodtables-vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          report: {{ job.report | tojson | safe  }},
        },
        components: {
          'goodtables-report': goodtablesVue.Report,
        },
        template: '<goodtables-report v-if="report" :report="report" />',
      })
    </script>
  {% else %}
    <p>There is an error in the job!</p>
  {% endif %}

</div>
{% endblock %}
