$mn-background: lighten($gray-lighter,6%);
$mn-colour: $text-color;
$mn-border: $gray-lighter;
$mn-panel: #fff;
$mn-header: $brand-success;
$mn-tabs: $mn-panel;
$mn-divider: $mn-border;

.panel {

  .github,
  .aws {
    .integration {
      @include gradient-horizontal(rgba($mn-panel,0), $mn-panel, 0%, 25%);
      color: rgba($mn-colour,0.8);

      &:hover {
        color: $mn-colour;
      }
    }
  }

  &.source-item {
    $hover-bg: $mn-panel;
    background-color: $mn-panel;
    color: $mn-colour;

    .source,
    .job {
      border-right-color: $mn-divider;

      &:hover {
        background-color: $hover-bg;
      }
    }

    .source {
      &:hover {
        & ~ .integration {
          @include gradient-horizontal(rgba($hover-bg,0), $hover-bg, 0%, 25%);
        }
      }
    }

    .job {
      border-top: solid 1px $mn-border;
    }

  }
}


.app {

  .main-nav {
    background-color: $mn-background;
    @include gradient-vertical($mn-background, $mn-panel, 0%, 100%);

    .main-header {
      background-color: $mn-header;
    }

    .nav-tabs {
      border-bottom-color: $mn-background;

      & > li.active > a,
      & > li.active > a:hover,
      & > li.active > a:focus {
        color: $mn-colour;
        background-color: $mn-tabs;
        border-color: $mn-tabs;
      }
    }

    .tab-pane {
      background-color: $mn-border;
    }

    .source-item {

      .job {
        border-bottom-color: $mn-border;
      }

      & + .source-item {
        .source {
          border-top-color: $mn-border;
        }
      }
    }
    @media screen and (min-width: $screen-sm) {
      box-shadow: inset -4px 0px 0px 0px $mn-divider;

      &:after {
        @include gradient-vertical(rgba($mn-background,0), $mn-background, 0%, 100%);
      }
    }
  }

  .secondary-nav {
    @media screen and (min-width: $screen-sm) {
      @include gradient-vertical(rgba($mn-panel,0), $mn-panel, 0%, 20px);

      li {
        border-top-color: $mn-border;
      }
    }
  }

  section.add-source,
  section.settings {
    .main-header {
      box-shadow: none;
    }
    &:after {
      content: '';
      width: 4px;
      height: 100%;
      background-color: rgba(#000,0.15);
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  section.add-source {
    background-color: $gray;
    @include rev-out(#fff, $gray);

    .main-header {
      background-color: $gray-dark;
    }

    .close {
      color: #fff;
    }
  }

  section.settings {
    background-color: $gray-darker;
  }

  &.list-view {
    .main-nav {
      .source,
      .job {
        border-right-color: $mn-border;
      }
    }
  }
}
