.app {
  overflow-x: hidden;

  @media screen and (min-width: $screen-lg) {
    overflow: visible; // required for position sticky
  }

  .collapse-view,
  .expand-view {
    $btn-size: 8px;
    display: none;

    @media screen and (min-width: $screen-sm) {
      position: absolute;
      top: $grid-gutter-width;
      width: 0;
      height: 0;
      border-style: solid;
      overflow: hidden;
      cursor: pointer;
      opacity: 0.7;

      &.left {
        right: $grid-gutter-width*0.25;
        border-width: $btn-size $btn-size $btn-size 0;
        border-color: transparent $gray-base transparent transparent;
      }

      &.right {
        left: $grid-gutter-width*0.25;
        border-width: $btn-size 0 $btn-size $btn-size;
        border-color: transparent transparent transparent $gray-base;
      }
    }
  }
  .expand-view {
    display: none;
  }
  .collapse-view {
    &.left {
      @media screen and (min-width: $screen-sm) {
        display: block;
      }
    }
    &.right {
      @media screen and (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  .main-nav {
    background-color: $brand-primary;
    @include rev-out;
    padding-bottom: $grid-gutter-width/2;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $screen-sm) {
      display: flex;
      height: 100vh;
      flex-direction: column;
    }

    .logo {
      $logoHeight: 35px;
      display: inline-block;
      padding: 26px;
      width: $logoHeight*6;
      box-sizing: content-box;
      overflow: hidden;

      svg {
        width: $logoHeight*6;
        height: $logoHeight;
      }
    }

    @media screen and (min-width: $screen-sm) {
      height: 100vh;
      position: fixed;
      width: 270px;
      @include transition(width 0.4s);
      z-index: 999;
    }

    @media screen and (min-width: $screen-lg) {
      width: 300px;
    }

    .nav {
      font-weight: 500;

      a {
        color: #fff;

        &.expand {
          @media screen and (min-width: $screen-sm) {
            box-shadow: -5px -5px 5px 0px $brand-primary;
          }

          &:not(.collapsed) {
            background-color: darken($brand-primary, 3%);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }

        [class^="icon-"] {
          display: none;

          @media screen and (min-width: $screen-sm) {
            display: inline-block;
          }
        }

        img {
          display: none;

          @media screen and (min-width: $screen-sm) {
            display: inline-block;
            width: 26px;
          }
        }

        img,
        [class^="icon-"] {
          & + .text {
            @media screen and (min-width: $screen-sm) {
              display: inline-block;
              margin-left: 12px;
            }
          }
        }
      }

      li {
        .back-icon {
          display: none;
        }

        &.active,
        &.active-parent {
          a {
            background-color: $brand-info;
          }
        }

        &.active-parent:not(.active) {
          .section-icon {
            display: none;
          }
          .back-icon {
            display: inline-block;
          }
        }

        &.log-in,
        &.log-out {
          img {
            border-radius: 50%;
          }
        }
        &.feedback {
          img {
            height: 30px; // for IE
          }
        }
      }

      & > li {
        & > a {
          @media screen and (min-width: $screen-sm) {
            padding-left: 14px;
            padding-right: 14px;
            white-space: nowrap;
          }
        }
      }

      .nav-content {
        background-color: darken($brand-primary, 3%);
        padding: $grid-gutter-width*0.5;

        @media screen and (min-width: $screen-sm) {
          position: absolute;
          bottom: 100%;
          right: 0;
          border-top-left-radius: $border-radius-large;
        }

        a {
          text-decoration: underline;
        }

        ul {
          margin: 10px 0 0 0;
          padding: 0;

          li {
            display: block;
            border-bottom: solid 1px rgba(#000,0.1);
            padding-bottom: 10px;
            margin-bottom: 10px;

            &:last-child {
              border: none;
              padding-bottom: 0;
              margin-bottom: 0;
            }
          }
        }
      }

      &.primary {
        @media screen and (min-width: $screen-sm) {
          font-size: 16px;
          flex-grow: 1;
          font-weight: 600;

          a {
            padding: 10px 16px;

            [class^="icon-"] {
              font-size: 1.5em;
              float: left;
              position: relative;
              top: 0;
            }
          }
        }
        @media screen and (min-width: $screen-lg) {
          a {
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
      }

      @media screen and (min-width: $screen-sm) {
        padding-left: $grid-gutter-width/2;

        a,
        span {
          border-radius: $border-radius-large 0 0 $border-radius-large;
        }
      }
    }

    div.text {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      overflow: hidden;

      a {
        color: inherit;
        text-decoration: underline;
      }

      @media screen and (min-width: $screen-sm) {
        flex-grow: 1;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }
  }

  .content {
    position: relative;

    h1 {
      border-bottom: solid 1px $gray-light;
      margin-top: 0;
      padding: $grid-gutter-width*0.75 $grid-gutter-width/2;
      background-color: $body-bg;
    }

    @media screen and (min-width: $screen-sm) {
      margin-left: 270px;
      @include transition(margin-left 0.4s);

      h1 {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
      }
    }

    @media screen and (min-width: $screen-md) {
      & > div {
        min-height: 100vh;
      }
    }

    @media screen and (min-width: $screen-lg) {
      margin-left: 300px;
    }

    .primary-secondary {
      background-color: $gray-lighter;

      @media screen and (min-width: $screen-sm) {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
      }

      @media screen and (min-width: $screen-lg) {
        padding-left: 0;
        padding-right: 0;

        .collapse-view,
        .expand-view {
          top: 1.2em;
        }
        .collapse-view {
          left: 0;

          & + .aside-title {
            .text {
              margin-left: 1em;
            }
          }
        }
        .expand-view {
          top: 1.4em;
        }
      }

      h1 {
        margin-bottom: 0;
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
        padding-left: $grid-gutter-width;

        @media screen and (min-width: $screen-lg) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      & > div {
        @media screen and (min-width: $screen-lg) {
          display: table;
          width: 100%;
          height: 100vh;
        }
      }

      .main > .inner {
        background-color: $body-bg;
        padding: $grid-gutter-width $grid-gutter-width*0.75;
        border-radius: $border-radius-large;

        @media screen and (min-width: $screen-sm) {
          margin: -$grid-gutter-width/2;
        }
      }
    }
  }

  .main {
    padding: $grid-gutter-width $grid-gutter-width/2;
    position: relative;

    @media screen and (min-width: $screen-lg) {
      display: table-cell;
      width: 75%;
      padding-left: $grid-gutter-width;
      vertical-align: top;
      @include transition(width 0.4s);
    }
  }

  .aside {
    position: relative;

    @media screen and (min-width: $screen-sm) {
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
    }

    @media screen and (min-width: $screen-lg) {
      display: table-cell;
      width: 25%;
      vertical-align: top;
      @include transition(width 0.4s);
    }

    & > .inner {
      padding: $grid-gutter-width/2;

      @media screen and (min-width: $screen-lg) {
        padding: 0;
        position: sticky;
        top: 0;

        .collapse-view {
          position: relative;
          float: left;
          top: 0.2em;
        }

        .vb {
          height: 100vh;

          .vb-content {
            padding-top: $grid-gutter-width/2;
            padding-left: $grid-gutter-width/2;
          }

          &.vb-invisible {
            .vb-content {
              padding-right: $grid-gutter-width/2;
            }
          }

          &.vb-visible {
            .vb-content {
              padding-right: 20px;
            }
          }
        }
      }
    }

    .aside-title {
      margin: 0 0 $padding-large-vertical 0;

      @media screen and (min-width: $screen-lg) {
        text-align: right;
        font-size: 1.1em;
      }
    }

    .source-item {
      &.active {
        @media screen and (min-width: $screen-lg) {
          .panel {
            box-shadow: 0px 0px 0px 4px rgba($gray,0.3);
          }
        }
      }
    }
  }

  &.collapsed-menu-view {
    $collapsed-menu-width: 86px;

    .main-nav {
      @media screen and (min-width: $screen-sm) {
        width: $collapsed-menu-width;


        .logo {
          .good,
          .tables,
          .io {
            display: none;
          }
        }

        .logo {
          box-sizing: border-box;
          width: $collapsed-menu-width;
        }

        .nav {
          padding-right: $grid-gutter-width/2;

          a {
            border-radius: $border-radius-large;

            .text {
              width: 0;
              overflow: hidden;
              margin-left: 0;
              margin-top: -1em;
            }
          }

          .nav-content {
            right: auto;
            width: 300px;
            border-top-right-radius: $border-radius-large;
            border-bottom-right-radius: $border-radius-large;
          }
        }

        .collapse-view {
          display: none;
        }
      }
    }

    .content {
      margin-left: $collapsed-menu-width;

      .expand-view.right {
        display: block;
      }
    }
  }

  .collapsed-side-view {
    @media screen and (min-width: $screen-lg) {
      .expand-view {
        display: block;
      }
      .collapse-view {
        display: none;
      }
      .main {
        width: 99%;
      }
      .aside {
        $collapsed-side-width: 83px;
        width: $collapsed-side-width;
        text-align: center;

        .vb {
          width: $collapsed-side-width;
        }

        .aside-title {
          font-size: 1em;
          margin: 0;

          .text {
            display: none;
          }
        }

        .source-item {
          .panel {
            border: none;
          }

          .avatar {
            float: none;
            margin: 0;
          }

          .label {
            margin: 0;
          }

          .panel-title,
          .jobcount,
          .time {
            display: none;
          }
        }
      }
    }
  }
}
