@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?7pz8ez');
  src:  url('../fonts/icons/icomoon.eot?7pz8ez#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?7pz8ez') format('truetype'),
    url('../fonts/icons/icomoon.woff?7pz8ez') format('woff'),
    url('../fonts/icons/icomoon.svg?7pz8ez#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font() {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  //
  // tweak alignment
  position: relative;
  top: 0.1em;
  //
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();

  i {
    @extend .sr-only;
  }
}

.icon-exit:before {
  content: "\e902";
}
.icon-keyboard_arrow_right:before {
  content: "\e904";
}
.icon-keyboard_arrow_left:before {
  content: "\e903";
}
.icon-grid:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-github:before {
  content: "\eab0";
}
