@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?7it4kz');
  src:  url('../fonts/icons/icomoon.eot?7it4kz#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?7it4kz') format('truetype'),
    url('../fonts/icons/icomoon.woff?7it4kz') format('woff'),
    url('../fonts/icons/icomoon.svg?7it4kz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();

  i {
    @extend .sr-only;
  }
}

.icon-grid:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-dots-three-horizontal:before {
  content: "\e90a";
}
.icon-shield:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e90b";
}
.icon-jobs:before {
  content: "\e9ba";
}
.icon-arrow-up-right:before {
  content: "\ea3b";
}
.icon-dashboard:before {
  content: "\e9a6";
}
.icon-enter:before {
  content: "\e909";
}
.icon-signin:before {
  content: "\e909";
}
.icon-login:before {
  content: "\e909";
}
.icon-goodtables:before {
  content: "\e906";
}
.icon-exit:before {
  content: "\e902";
}
.icon-signout:before {
  content: "\e902";
}
.icon-logout:before {
  content: "\e902";
}
.icon-quit:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-github:before {
  content: "\eab0";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-mouse-pointer:before {
  content: "\e908";
}
