.landing {
  overflow-x: hidden;

  h1,
  h2,
  h3 {
    font-weight: 600;
  }

  .logo {
    @media screen and (min-width: $screen-lg) {
      width: 240px;
      height: 240px*0.1667; // for IE
    }
  }

  .cta {
    display: inline-block;
    background-color: $brand-primary;
    @include rev-out(#fff, $brand-primary);
    font-size: 16px;
    font-weight: 600;
    border-radius: $border-radius-large;
    border-bottom: solid 0.3em darken($brand-primary, 8%);
    padding-top: 0.4em;
    margin-top: 5vh;

    &:hover {
      background-color: darken($brand-primary, 4%);
    }

    @media screen and (min-width: $screen-sm) {
      font-size: 18px;
    }
    @media screen and (min-width: $screen-md) {
      font-size: 20px;
    }
    @media screen and (min-width: $screen-lg) {
      font-size: 24px;
    }

    .sub-text {
      font-size: 0.8em;
      opacity: 0.8;
      margin: 0;

      .link-icon {
        margin-right: 0.25em;
      }

      .link-text {
        font-size: 0.8em;
      }
    }
  }

  .main-header {
    text-align: center;

    .inner {
      // make space for screenshot
      @media screen and (min-width: $screen-sm) {
        padding-bottom: 100px;
      }
      @media screen and (min-width: $screen-md) {
        padding-bottom: 150px;
      }
      @media screen and (min-width: $screen-lg) {
        padding-bottom: 200px;
      }
    }

    .content {
      padding-bottom: 6vh;
    }

    a {
      text-decoration: none;
    }

    .main-nav {
      display: flex;

      nav {
        padding-top: $grid-gutter-width;

        a {
          color: inherit;
          opacity: 0.9;

          .link-icon {
            font-size: 2.5em;
            top: 0;
            float: right;

            @media screen and (min-width: $screen-md) {
              display: none;
            }
          }

          .link-text {
            display: none;

            @media screen and (min-width: $screen-md) {
              display: inline-block;
              font-size: 1.2em;
              font-weight: 600;
              border: solid 2px #fff;
              padding: 0.2em 1em;
              margin-left: 0.5em;
            }
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    h1 {
      margin-top: 4vh;

      @media screen and (min-width: $screen-sm) {
        font-size: 34px;
      }
      @media screen and (min-width: $screen-md) {
        font-size: 44px;
      }
      @media screen and (min-width: $screen-lg) {
        font-size: 58px;
      }
    }

    p {
      font-size: 18px;

      @media screen and (min-width: $screen-sm) {
        font-size: 20px;
      }
      @media screen and (min-width: $screen-md) {
        font-size: 22px;
      }
      @media screen and (min-width: $screen-lg) {
        font-size: 28px;
      }
    }
  }

  .screenshot {
    display: none;

    @media screen and (min-width: $screen-sm) {
      display: block;
      background-color: $gray-light;
      border-top-left-radius: $border-radius-large;
      border-top-right-radius: $border-radius-large;
      position: relative;
      padding-top: 28px;

      img {
        width: 100%;
      }

      &:before,
      &:after{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: darken($gray-light,8%);
        position: absolute;
        border-radius: 50%;
        top: 10px;
      }
      &:before {
        left: 24px;
        box-shadow: -14px 0px 0px 0px darken($gray-light,8%);
      }
      &:after {
        left: 38px;
      }

      margin-top: -100px;
    }
    @media screen and (min-width: $screen-md) {
      padding-top: 34px;
      margin-top: -150px;

      &:before,
      &:after{
        top: 12px;
      }
      &:before {
        left: 26px;
      }
      &:after {
        left: 40px;
      }
    }
    @media screen and (min-width: $screen-lg) {
      padding-top: 38px;
      margin-top: -200px;

      &:before,
      &:after{
        width: 11px;
        height: 11px;
        top: 14px;
      }
      &:before {
        left: 30px;
        box-shadow: -16px 0px 0px 0px darken($gray-light,8%);
      }
      &:after {
        left: 46px;
      }
    }

    & + * {
      margin-top: 6vh;
    }
  }

  .features {
    @include make-row();

    figure {
      @include make-sm-column(6);
      @include make-md-column(3);
      margin-bottom: $grid-gutter-width;

      img {
        display: inline-block;
        max-width: 170px;
        border: solid 2px $gray-light;
        border-radius: 50%;
        margin-bottom: 1em;
      }

      figcaption {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }

  .info {
    @include make-row();

    .item {
      text-align: left;
      @include make-sm-column(4);
      margin-top: $grid-gutter-width/2;
      line-height: 1.5;

      .inner {
        background-color: $gray-lighter;
        padding: $grid-gutter-width/2 $grid-gutter-width;
      }
    }
  }

  .main-content {
    text-align: center;
    padding-bottom: $grid-gutter-width*2;

    h2 {
      margin-bottom: 1em;

      @media screen and (min-width: $screen-sm) {
        font-size: 26px;
      }
      @media screen and (min-width: $screen-md) {
        font-size: 30px;
      }
      @media screen and (min-width: $screen-lg) {
        font-size: 36px;
      }
    }
  }

  .orgs {
    background-color: $gray-lighter;
    color: $gray-dark;
    text-align: center;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width;
    line-height: 1.6;

    @media (min-width: $screen-md) {
      font-size: 18px;
    }

    .container {
      max-width: $screen-md;
    }

    svg {
      fill: $gray-dark;
    }

    .logos {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;

      li {
        display: inline-block;
        padding: $grid-gutter-width;

        svg {
          width: 100%;
          height: 40px;

          @media screen and (min-width: $screen-sm) {
            height: 52px;
          }

          @media screen and (min-width: $screen-md) {
            height: 64px;
          }
        }

        &.fd {
          svg {
            @media screen and (min-width: $screen-sm) {
              height: 42px;
            }
            @media screen and (min-width: $screen-md) {
              height: 48px;
            }
          }
        }
      }
    }
  }
}


// Main footer
.site-footer {
  background-color: $gray-base;
  color: rgba(255, 255, 255, 0.6);
  padding: 30px 0;
  font-size: 14px;

  a {
    color: rgba(255, 255, 255, 0.9);

    &:hover {
      color:#fff;
    }
  }

  .footer-primary {
    @include make-row();

    .footer-logo {
      @include make-md-column(2);
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }

      img {
        width: 130px;
        max-width: 100%;
      }
    }

    .footer-links {
      margin: 10px;
      padding: 0 5px;

      @media (min-width: $screen-md-min) {
        @include make-md-column(10);
        text-align: right;
        margin: 0;
      }

      li {
        display: block;

        @media (min-width: $screen-md-min) {
          display: inline-block;
          padding: 7px;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  .footer-secondary {
    font-size: 13px;
    border-top: solid 1px rgba(255, 255, 255, 0.4);
    margin-top: 15px;
    padding-top: 15px;
  }
}
