.nav {
  & > li {
    & > span {
      display: block;
      padding: 6px 16px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }
  }
}

.nav-stacked {
  & > li + li {
    margin: 0;
  }
}

.nav-tabs {

  & > li {

    & > a {
      padding: 10px 15px;
      color: $gray-dark;
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $gray-lighter;
        color: $text-color;
      }
    }
  }
}

.tab-content {
  background-color: $gray-lighter;
}
