.panel {
  overflow: hidden;
  box-shadow: none;
  border-width: 0;

  .github,
  .aws {
    position: relative;

    .integration {
      position: absolute;
      top: 5px;
      right: 0;
      font-size: 15px;
      text-decoration: none;
      padding: 11px 10px;
      @include gradient-horizontal(rgba(#fff,0), #fff, 0%, 25%);
    }
  }

  .source-item & {
    white-space: nowrap;
    border-width: 0 4px 0 0;
    color: $text-color;
    margin-bottom: $grid-gutter-width/2;

    a {
      color: inherit;
    }

    .label {
      margin-right: 10px;
    }

    .panel-title {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;

      .jobnumber {
        @include text-hide;
      }
    }

    .source,
    .job {
      display: block;
      text-decoration: none;

      &.active {
        @media screen and (min-width: $screen-sm) {
          color: #fff;
          background-color: $brand-warning;
          border-color: $brand-warning;
        }
      }
    }

    .source {
      padding: 10px;

      .status {
        @include text-hide;
        display: block; // for safari
      }

      @media screen and (min-width: $screen-sm) {
        padding: 14px 12px;
      }

      .avatar {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: $border-radius-base;
        overflow: hidden;
        float: left;
        margin-right: 10px;

        img {
          width: 100%;
        }

        & + .panel-title {
          position: relative;
          top: 2px;
        }
      }
    }

    .job {
      border-top: solid 1px $gray-light;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;

      .label {
        display: inline-block;
        width: 24px;
      }

      .icon-clock,
      .time,
      .jobcount {
        opacity: 0.7;
      }

      .jobcount {
        float: right;
      }

      @media screen and (min-width: $screen-sm) {
        padding: 6px 12px;
      }
    }

    @mixin panel_state($colour: $brand-warning) {
      .source,
      .job {
        display: block;

        &.active {
          background-color: $colour;
          border-color: $colour;
        }
      }
      .source.active {
        .label {
          background-color: #fff;
          color: $colour;
        }

        & + .job.active {
          @media screen and (min-width: $screen-sm) {
            border-top-color: rgba(#fff,0.2);
          }
        }

        & ~ .integration {
          color: rgba(#fff,0.8);
          @include gradient-horizontal(rgba($colour,0), $colour, 0%, 25%);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    &.panel-success {
      @media screen and (min-width: $screen-sm) {
        @include panel_state($brand-success);
      }
      .source-view & {
        @include panel_state($brand-success);
      }
    }

    &.panel-danger {
      @media screen and (min-width: $screen-sm) {
        @include panel_state($brand-danger);
      }
      .source-view & {
        @include panel_state($brand-danger);
      }
    }

    &.active {
      @media screen and (min-width: $screen-sm) {

        .source,
        .job {
          &:not(.active) {
            &:hover {
              background-color: inherit;
            }
          }
        }
        .source:hover ~ .integration {
          @include gradient-horizontal(rgba($body-bg,0), $body-bg, 0%, 25%);
        }
        .integration {
          @include gradient-horizontal(rgba($body-bg,0), $body-bg, 0%, 25%);
          color: rgba($text-color,0.8);

          &:hover {
            color: $text-color;
          }
        }
        &.panel-success {
          .source.active:hover ~ .integration {
            @include gradient-horizontal(rgba($brand-success,0), $brand-success, 0%, 25%);
          }
        }
        &.panel-danger {
          .source.active:hover ~ .integration {
            @include gradient-horizontal(rgba($brand-danger,0), $brand-danger, 0%, 25%);
          }
        }
      }
    }
  }
}

.panel-body {
  background-color: $body-bg;
  color: $text-color;

  .panel-danger & {
    background-color: lighten($state-danger-bg,3%);
  }
  .panel-warning & {
    background-color: lighten($state-warning-bg,3%);
  }
}
