.source-view {

  & > .integration {
    float: right;
    margin: 20px 20px 0 20px;
    font-size: 28px;
    color: inherit;
    text-decoration: none;
  }

  .latest-job {
    display: table;
    width: 100%;

    a {
      color: inherit;
      font-weight: 500;
    }

    @media screen and (min-width: $screen-sm) {
      margin-top: 10px;
      margin-bottom: $grid-gutter-width;
    }

    .icon {
      width: 55px;
      display: table-cell;
      vertical-align: middle;
    }

    .label {
      float: left;
      height: 40px;
      width: 40px;
      line-height: 39px;

      span {
        font-size: 19px;
      }
    }

    .status {
      display: table-cell;
      vertical-align: middle;

      & > * {
        margin: 0;
        line-height: 1.3;
      }
      small {
        display: block;
        color: $gray-dark;
      }
    }

    .meta {
      display: table-caption;
      caption-side: bottom;
      color: $gray-darker;

      ul {
        margin: 0 0 0 45px;
        padding: 0;

        li {
          display: inline-block;
          padding: 10px;
        }
      }

      @media screen and (min-width: $screen-sm) {
        display: table-cell;
        text-align: right;

        ul {
          margin: 0;

          li {
            display: block;
            padding: 0;
          }
        }
      }
    }
  }

  .report {
    & > .inner {
      border-top: solid 4px $brand-info;
    }

    &.invalid {
      & > .inner {
        border-color: $brand-danger;

        .status > * {
          color: $brand-danger;
        }
      }
    }

    &.valid {
      & > .inner {
        border-color: $brand-success;
      }
    }
  }
}
